@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --ff-primary: "Poppins";
  --ff-secondary: "Source Sans Pro";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #ffffff;
  --clr-dark: #343062;
  --clr-accent: #0ef;

  --fs-h1: 2.7rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-light);
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  padding: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: none;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.bxs-circle {
  font-size: 10px;
  color: #0ef;
  padding-left: 2px;
}

.navbar a {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  margin-left: 35px;
  transition: 0.3s;
  justify-content: space-between;
}

.navbar a:hover {
  color: #0ef;
  text-decoration: underline;
}

.connect a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 16px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.connect a:hover {
  color: var(--clr-dark);
  background: var(--clr-accent);
  box-shadow: 0 0 30px #0ef;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

img.profile {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 15px cyan, 2px 2px 50px cyan, 2px 2px 50px cyan,
    2px 2px 50px cyan;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.home-content h3 span {
  color: var(--clr-accent);
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
}

.home-content p {
  font-size: 16px;
}

.button {
  border: 2px solid #0ef;
  border-radius: 30px;
  font-size: 16px;
  color: var(--clr-dark);
  padding: 10px;
  background-color: var(--clr-accent);
}

.button :hover {
  color: var(--clr-dark);
  background: var(--clr-accent);
  box-shadow: 0 0 30px #0ef;
}

#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.sub-title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 70px;
  font-weight: 600;
}

.sub-title span {
  color: var(--clr-accent);
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div:hover {
  transform: translate3d(0, -10px, 30px);
}
